<div class="registration-container col-8 border border-dark rounded py-5 m-auto mt-5">
  <form [formGroup]="patientForm">
    <div class="text-center">
      <h1>Search Patient</h1>
    </div>
    <div class="form-group  col-2 mx-5 my-4">
      <label for="lastName">Last Name</label><br>
      <input class="col-11" id="lastName" type="text" placeholder="Last name" formControlName="lastName">
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['lastName'].hasError('required') && patientForm.controls['lastName'].touched">
        Last Name is required
      </div>
    </div>
    <div class="form-group  col-2 mx-5 my-4">
      <label for="firstName">First Name</label><br>
      <input class="col-11" id="firstName" type="text" placeholder="First name" formControlName="firstName">
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['firstName'].hasError('required') && patientForm.controls['firstName'].touched">
        First Name is required
      </div>
    </div>
    <div class="text-center mt-5">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="patientForm.invalid">Search
      </button>
    </div>
    <div class="col-11 mx-auto" *ngIf="patient$ | async as patientModel">
      <h2>My patient</h2>
      <table aria-label="patients" class="table table-bordered text-center">
        <thead class="table-success" >
        <tr>
          <th class="col-1" scope="col">FirstName</th>
          <th class="col-1" scope="col">LastName</th>
          <th class="col-2" scope="col">Date of birth</th>
          <th class="col-1" scope="col">Gender</th>
          <th class="col-4" scope="col">Address</th>
          <th class="col-2" scope="col">PhoneNumber</th>
          <th class="col-1" scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-1">{{patientModel.firstName}}</td>
          <td class="col-1">{{patientModel.lastName}}</td>
          <td class="col-2">{{patientModel.dateOfBirth | date: 'yyyy/MM/dd'}}</td>
          <td class="col-1">{{patientModel.gender}}</td>
          <td class="col-4">{{patientModel.address}}</td>
          <td class="col-2">{{patientModel.phoneNumber}}</td>
          <td class="col-1"><button type="submit" (click)="onUpdate()" class="btn btn-primary" >Update
          </button></td>
        </tr>
        </tbody>
      </table>
      <app-patient-update [show]="show" [patientToUpdate]="patientModel" *ngIf="show==true"></app-patient-update>
    </div>
  </form>
</div>
